#### Import relevant libraries

In [1]:
import pandas as pd

#### Load dataset

In [2]:
houseprices_data = pd.read_csv("Data/HousingPricesData.csv")

#### Subset for relevant columns

In [3]:
houseprices_data = houseprices_data[['Zip','Price']]

#### Inspect first 5 rows and data types of the dataset

In [4]:
houseprices_data.head()

       Zip     Price
0  1091 CR  685000.0
1  1059 EL  475000.0
2  1097 SM  850000.0
3  1060 TH  580000.0
4  1036 KN  720000.0

In [5]:
houseprices_data.shape

(924, 2)

In [6]:
houseprices_data.dtypes

Zip       object
Price    float64
dtype: object

#### Create a Summary Table using the describe method in Pandas

In [7]:
houseprices_data.describe()

              Price
count  9.200000e+02
mean   6.220654e+05
std    5.389942e+05
min    1.750000e+05
25%    3.500000e+05
50%    4.670000e+05
75%    7.000000e+05
max    5.950000e+06