In [7]:
# import libraries
import pandas as pd
import matplotlib.pyplot as plt

# read dataset
df = pd.read_csv('data/data.csv')

In [8]:
# Display the first few rows of the dataset and summary information
df.head(), df.info(), df.describe(include='all'), df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43776 entries, 0 to 43775
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   country      43776 non-null  object
 1   year         43776 non-null  int64
 2   sex          43776 non-null  object
 3   age          43776 non-null  object
 4   suicides_no  41520 non-null  float64
 5   population   38316 non-null  float64
dtypes: float64(2), int64(1), object(3)
memory usage: 2.0+ MB

(   country  year     sex          age  suicides_no  population
 0  Albania  1985  female  15-24 years          NaN    277900.0
 1  Albania  1985  female  25-34 years          NaN    246800.0
 2  Albania  1985  female  35-54 years          NaN    267500.0
 3  Albania  1985  female   5-14 years          NaN    298300.0
 4  Albania  1985  female  55-74 years          NaN    138700.0,
 None,
         country          year     sex          age   suicides_no    population
 count     43776  43776.000000   43776        43776  41520.000000  3.831600e+04
 unique      141           NaN       2            6           NaN           NaN
 top     Austria           NaN  female  15-24 years           NaN           NaN
 freq        456           NaN   21888         7296           NaN           NaN
 mean        NaN   1998.502467     NaN          NaN    193.315390  1.664091e+06
 std         NaN     10.338711     NaN          NaN    800.589926  3.647231e+06
 min         NaN   1979.000000     NaN          NaN      0.000000  2.590000e+02
 25%         NaN   1990.000000     NaN          NaN      1.000000  8.511275e+04
 50%         NaN   1999.000000     NaN          NaN     14.000000  3.806550e+05
 75%         NaN   2007.000000     NaN          NaN     91.000000  1.305698e+06
 max         NaN   2016.000000     NaN          NaN  22338.000000  4.380521e+07,
 (43776, 6))

In [9]:
# Create a mapping dictionary to standardize country names
country_name_mapping = {
    'Russian Federation': 'Russia',
    'Reunion': 'France',
    'Aruba': 'Netherlands',
    'Saint Vincent and Grenadines': 'Saint Vincent and the Grenadines',
    'Cabo Verde': 'Cape Verde',
    'French Guiana': 'France',
    'Cayman Islands': 'United Kingdom',
    'Sao Tome and Principe': 'São Tomé and Príncipe',
    'Macau': 'China',
    'Brunei Darussalam': 'Brunei',
    'Hong Kong SAR': 'China',
    'Republic of Moldova': 'Moldova',
    'Antigua and Barbuda': 'Antigua And Barbuda',
    'Venezuela (Bolivarian Republic of)': 'Venezuela',
    'Mayotte': 'France',
    'Saint Kitts and Nevis': 'Saint Kitts And Nevis',
    'Virgin Islands (USA)': 'United States',
    'Bermuda': 'United Kingdom',
    'Guadeloupe': 'France',
    'Republic of Korea': 'South Korea',
    'Martinique': 'France',
    'Iran (Islamic Rep of)': 'Iran',
    'Rodrigues': 'Mauritius',
    'Czech Republic': 'Czechia',
    'TFYR Macedonia': 'North Macedonia'
}

# Apply the mapping to standardize country names
df['country'] = df['country'].replace(country_name_mapping)

In [11]:
# Handle missing values by dropping rows with missing values
df = df.dropna()

# Convert categorical columns to category type
df['country'] = df['country'].astype('category')
df['sex'] = df['sex'].astype('category')
df['age'] = df['age'].astype('category')

# Verify the changes
print(df.info())
print(df.head())
print(df.shape)

<class 'pandas.core.frame.DataFrame'>
Index: 36060 entries, 24 to 43763
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   country      36060 non-null  category
 1   year         36060 non-null  int64
 2   sex          36060 non-null  category
 3   age          36060 non-null  category
 4   suicides_no  36060 non-null  float64
 5   population   36060 non-null  float64
dtypes: category(3), float64(2), int64(1)
memory usage: 1.2 MB
None
    country  year     sex          age  suicides_no  population
24  Albania  1987  female  15-24 years         14.0    289700.0
25  Albania  1987  female  25-34 years          4.0    257200.0
26  Albania  1987  female  35-54 years          6.0    278800.0
27  Albania  1987  female   5-14 years          0.0    311000.0
28  Albania  1987  female  55-74 years          0.0    144600.0
(36060, 6)

In [12]:
# Save dataset
df.to_csv('data/who_suicide_statistics.csv', index=False)