![New York City schoolbus](schoolbus.jpg)

Photo by [Jannis Lucas](https://unsplash.com/@jannis_lucas) on [Unsplash](https://unsplash.com).
<br>

Every year, American high school students take SATs, which are standardized tests intended to measure literacy, numeracy, and writing skills. There are three sections - reading, math, and writing, each with a **maximum score of 800 points**. These tests are extremely important for students and colleges, as they play a pivotal role in the admissions process.

Analyzing the performance of schools is important for a variety of stakeholders, including policy and education professionals, researchers, government, and even parents considering which school their children should attend. 

You have been provided with a dataset called `schools.csv`, which is previewed below.

You have been tasked with answering three key questions about New York City (NYC) public school SAT performance.

In [1]:
# Re-run this cell 
import pandas as pd

# Read in the data
schools = pd.read_csv("schools.csv")

# Preview the data
schools.head()

,school_name,borough,building_code,average_math,average_reading,average_writing,percent_tested
0,"New Explorations into Science, Technology and ...",Manhattan,M022,657,601,601,NaN
1,Essex Street Academy,Manhattan,M445,395,411,387,78.9
2,Lower Manhattan Arts Academy,Manhattan,M445,418,428,415,65.1
3,High School for Dual Language and Asian Studies,Manhattan,M445,613,453,463,95.9
4,Henry Street School for International Studies,Manhattan,M056,410,406,381,59.7

In [2]:
# Calculate the maximum possible score for math
max_math_score = 800

# Filter schools with average math score at least 80% of the maximum
best_math_schools = schools[schools['average_math'] >= 0.8 * max_math_score]

# Select only the necessary columns
best_math_schools = best_math_schools[['school_name', 'average_math']]

# Sort by average_math score in descending order
best_math_schools = best_math_schools.sort_values(by='average_math', ascending=False)

# Reset index
best_math_schools.reset_index(drop=True, inplace=True)

# Display the resulting DataFrame
print(best_math_schools)

                                         school_name  average_math
0                             Stuyvesant High School           754
1                       Bronx High School of Science           714
2                Staten Island Technical High School           711
3  Queens High School for the Sciences at York Co...           701
4  High School for Mathematics, Science, and Engi...           683
5                     Brooklyn Technical High School           682
6                        Townsend Harris High School           680
7  High School of American Studies at Lehman College           669
8  New Explorations into Science, Technology and ...           657
9                      Eleanor Roosevelt High School           641

In [3]:
# Calculate the total SAT score for each school
schools['total_SAT'] = schools['average_math'] + schools['average_reading'] + schools['average_writing']

# Select the necessary columns
top_10_schools = schools[['school_name', 'total_SAT']]

# Sort by total SAT score in descending order
top_10_schools = top_10_schools.sort_values(by='total_SAT', ascending=False)

# Take the top 10 performing schools
top_10_schools = top_10_schools.head(10)

# Reset index
top_10_schools.reset_index(drop=True, inplace=True)

# Display the resulting DataFrame
print(top_10_schools)

                                         school_name  total_SAT
0                             Stuyvesant High School       2144
1                       Bronx High School of Science       2041
2                Staten Island Technical High School       2041
3  High School of American Studies at Lehman College       2013
4                        Townsend Harris High School       1981
5  Queens High School for the Sciences at York Co...       1947
6                     Bard High School Early College       1914
7                     Brooklyn Technical High School       1896
8                      Eleanor Roosevelt High School       1889
9  High School for Mathematics, Science, and Engi...       1889

In [4]:
# Calculate total SAT score for each school
schools['total_SAT'] = schools['average_math'] + schools['average_reading'] + schools['average_writing']

# Group by borough and calculate mean and standard deviation of total SAT score
borough_stats = schools.groupby('borough')['total_SAT'].agg(['count', 'mean', 'std'])

# Rename columns
borough_stats.columns = ['num_schools', 'average_SAT', 'std_SAT']

# Find the borough with the largest standard deviation
largest_std_dev = borough_stats[borough_stats['std_SAT'] == borough_stats['std_SAT'].max()]

# Round numeric values to two decimal places
largest_std_dev = largest_std_dev.round(2)

# Reset index to make 'borough' a column
largest_std_dev.reset_index(inplace=True)

# Set 'borough' as the index
largest_std_dev.set_index('borough', inplace=True)

# Display the resulting DataFrame
print(largest_std_dev)

           num_schools  average_SAT  std_SAT
borough
Manhattan           89      1340.13   230.29