In [57]:
import pandas as pd
import numpy as np

In [58]:
df = pd.read_csv('loyalty.csv')
data = pd.DataFrame(df)

In [59]:
data.head()

,customer_id,spend,first_month,items_in_first_month,region,loyalty_years,joining_month,promotion
0,1,132.68,15.30,5,Asia/Pacific,10-May,Nov,No
1,2,106.45,16.20,14,Asia/Pacific,NaN,Feb,Yes
2,3,123.16,25.26,7,Middle East/Africa,NaN,Dec,Yes
3,4,130.60,24.74,8,Middle East/Africa,5-Mar,Apr,No
4,5,130.41,25.59,8,Middle East/Africa,5-Mar,Apr,Yes

In [60]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1246 entries, 0 to 1245
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   customer_id           1246 non-null   int64
 1   spend                 1246 non-null   float64
 2   first_month           1246 non-null   object
 3   items_in_first_month  1246 non-null   int64
 4   region                1246 non-null   object
 5   loyalty_years         747 non-null    object
 6   joining_month         1121 non-null   object
 7   promotion             1246 non-null   object
dtypes: float64(1), int64(2), object(5)
memory usage: 78.0+ KB

In [61]:
data.dtypes

customer_id               int64
spend                   float64
first_month              object
items_in_first_month      int64
region                   object
loyalty_years            object
joining_month            object
promotion                object
dtype: object

In [62]:
data.nunique()

customer_id             1246
spend                    861
first_month              491
items_in_first_month      11
region                     4
loyalty_years              3
joining_month             12
promotion                  4
dtype: int64

In [63]:
data.isnull().sum()

customer_id               0
spend                     0
first_month               0
items_in_first_month      0
region                    0
loyalty_years           499
joining_month           125
promotion                 0
dtype: int64

In [64]:
data.columns()

TypeError: 'Index' object is not callable

In [66]:
# Forward fill null values with the value that comes after
data = data['joining_month'].ffill()

# Backward fill null values with the value that comes before
data = data['joining_month'].bfill()

KeyError: 'joining_month'

In [ ]:
# Forward fill null values with the value that comes after
data = data['loyalty_years'].ffill()

# Backward fill null values with the value that comes before
data = data['loyalty_years'].bfill()

In [ ]:
# Replace '.' with NaN
data['first_month'] = data['first_month'].replace('.', np.nan)

# Forward fill null values
data = data['first_month'].ffill()

# Backward fill null values
data = data['first_month'].bfill()

In [ ]:
# covert first_month to float
data['first_month'] = data['first_month'].astype(float)

In [ ]:
data.describe()