#### Import relevant libraries

In [1]:
import numpy as np
import pandas as pd

#### Load dataset

In [2]:
marketing_data = pd.read_csv("data/marketing_campaign.csv")

#### Subset for relevant columns

In [3]:
marketing_data = marketing_data[['ID', 'Year_Birth', 'Education', 'Marital_Status',
                'Income', 'Kidhome', 'Teenhome', 'Dt_Customer', 
                'Recency','NumStorePurchases', 'NumWebVisitsMonth']]

#### Inspect first 2 rows and data types of the dataset

In [4]:
marketing_data.head(2).T

                            0           1
ID                       5524        2174
Year_Birth               1957        1954
Education          Graduation  Graduation
Marital_Status         Single      Single
Income                58138.0     46344.0
Kidhome                     0           1
Teenhome                    0           1
Dt_Customer        04-09-2012  08-03-2014
Recency                    58          38
NumStorePurchases           4           2
NumWebVisitsMonth           7           5

In [5]:
marketing_data.dtypes

ID                     int64
Year_Birth             int64
Education             object
Marital_Status        object
Income               float64
Kidhome                int64
Teenhome               int64
Dt_Customer           object
Recency                int64
NumStorePurchases      int64
NumWebVisitsMonth      int64
dtype: object

In [6]:
marketing_data.shape

(2240, 11)

#### Check the average number of store purchases of customers based on number of kids in the home

In [7]:
marketing_data.groupby('Kidhome')['NumStorePurchases'].mean()

Kidhome
0    7.217324
1    3.863181
2    3.437500
Name: NumStorePurchases, dtype: float64