#### Import relevant libraries

In [1]:
import numpy as np
import pandas as pd

#### Load dataset

In [2]:
marketing_data = pd.read_csv("data/marketing_campaign.csv")

#### Subset for relevant columns

In [3]:
marketing_data = marketing_data[['ID', 'Year_Birth', 'Kidhome', 'Teenhome']]

#### Inspect first 5 rows and data types of the dataset

In [4]:
marketing_data.head()

     ID  Year_Birth  Kidhome  Teenhome
0  5524        1957        0         0
1  2174        1954        1         1
2  4141        1965        0         0
3  6182        1984        1         0
4  5324        1981        1         0

In [5]:
marketing_data.shape

(2240, 4)

#### Replace the values in Teenhomes with "has teen" and "has no teen"

In [6]:
marketing_data['Teenhome_replaced'] = marketing_data['Teenhome'].replace([0,1,2],['has no teen','has teen','has teen'])

In [7]:
marketing_data[['Teenhome','Teenhome_replaced']].head()

   Teenhome Teenhome_replaced
0         0       has no teen
1         1          has teen
2         0       has no teen
3         0       has no teen
4         0       has no teen