#### Import relevant libraries

In [1]:
import pandas as pd

#### Load dataset

In [2]:
houseprices_data = pd.read_csv("data/HousingPricesData.csv")

#### Subset for relevant columns

In [3]:
houseprices_data = houseprices_data[['Zip', 'Price', 'Area', 'Room']]

#### Inspect first 2 rows and data types of the dataset

In [4]:
houseprices_data.head()

       Zip     Price  Area  Room
0  1091 CR  685000.0    64     3
1  1059 EL  475000.0    60     3
2  1097 SM  850000.0   109     4
3  1060 TH  580000.0   128     6
4  1036 KN  720000.0   138     5

In [5]:
houseprices_data.shape

(924, 4)

In [6]:
houseprices_data.dtypes

Zip       object
Price    float64
Area       int64
Room       int64
dtype: object

#### Create a price per sqm variable based on the price and area variables

In [7]:
houseprices_data['PriceperSqm'] = houseprices_data['Price']/houseprices_data['Area']

In [8]:
houseprices_data.head()

       Zip     Price  Area  Room   PriceperSqm
0  1091 CR  685000.0    64     3  10703.125000
1  1059 EL  475000.0    60     3   7916.666667
2  1097 SM  850000.0   109     4   7798.165138
3  1060 TH  580000.0   128     6   4531.250000
4  1036 KN  720000.0   138     5   5217.391304